
header{
    width: 100%;
    height: 50px;
    background-color: black;
    border-bottom: 1px solid red;
    position: fixed;
    top: 0;
}


.logo{
    margin-right: 3rem;
    margin-top: -15px;
}

.logo h1{
    color:  white;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.logo span{
    color: red;

}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu-itens ul{
    display: flex;
    margin-left: 25px;
    margin-top: 15px;
    
}

.menu-itens li{
    margin-right: 15px;
}

.menu-itens li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-itens li a:hover{
    text-decoration: dashed;
    color: red;
}


body{
    background-color: black;
    width: 100%;
    max-width: 1200px;
    overflow-y: hidden;
    overflow-x: hidden;
}

section#cadastro{
    width: 100%;align-items: center;
    justify-content: center;
    display: flex;

    padding: 3.5rem;
}


.cadastro-box{
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    background-color: #222;
    border: 1px solid red;
    margin: 3rem 0;
   
}

.cadastro-box h2{
    color: white;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}


.cadastro-box form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cadastro-box form label{
    color: red;
    text-transform: uppercase;
    float: left;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.cadastro-box form input{
    padding: .30rem 1rem;
    outline: none;
    border: none;
    border: .25px solid #f0f2f5;
    background-color: black;
    color: white;
}

.cadastro-box form button{
    background-color: red;
    margin-top: 15px;
    color: white;
    padding: 6px 8px;
    border:  none;
    cursor:pointer;
}


.cadastro-box form button:hover{
    background-color: rgb(129, 5, 5);
}


.imagem_rock img{
    width: 90%;
    float: right;
    margin-right: 5rem;
    color: red;
    margin-top: 10rem;
    max-width: 400px;
}





