*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

body{
    background-color: #f0f2f5;
    overflow-x: hidden;
    max-width: 1200px;
}

.container{
    margin: 0 auto;
    padding: 0 2%;
}


header{
	width:100%;
	height:2rem 0;
	background-color: black;
	border-bottom: 1px solid red;
	top: 0;
	position: fixed;
}


.logo{
    display: flex;
	padding: .5rem 1.5rem;
}

.logo h1{
    color:  white;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.logo span{
    color: red;
	font-size:25px;

}

.menu-itens button{
    color: white;
    background-color: red;
    border: 0;
    padding: 4px 8px;
    float: right;
    cursor: pointer;
    margin-top: -30px;
    margin-right: 1.5rem;
}

.menu-itens button:hover{
    background-color: rgb(117, 3, 3);
}
 .cards{
    background-color: white;
    padding: 2rem 1rem;
    margin: 0 auto;
    width: 100vw;    
    padding: 10rem;
    margin: 0 1rem;
    display: flex;

    align-items: center;
    justify-content: center;
}

 .hard_rock{
    background-color: red;
    max-width: 300px;
    padding: 4rem 8rem;
    float: right;
    margin:  0 2rem;

    
}

.heavy_metal{
    background-color: black;
    padding: 4rem 5rem;
    margin: 0 auto;
}

.rock_progressivo{
    background-color: red;
    padding: 4rem 5rem;
    margin: 0 2rem;
};



.metal_melodico{
    background-color: black;
    padding: 4rem 5rem;
    margin: 0 2rem;
}


.soft_rock{
    background-color: red;
    padding: 4rem 5rem;
    margin: 0 2rem;
}