*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container{
    margin: 0 auto;
    padding: 0 2%;
	display: flex;
	align-items:center;
	justify-content:center;
}

header{
    width: 100%;
    background-color: black;
    border-bottom: 1px solid red;
    position: fixed;
	padding: 2rem 0;
}

.logo{
    display: flex;
    margin-right: 5rem;
    margin-top: 8px;
}

.logo h1{
    color:  white;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.logo span{
    color: red;
	font-size:25px;

}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu-itens ul{
    display: flex;
    margin-left: 25px;
    margin-top: 15px;
    
}

.menu-itens li{
    margin-right: 15px;
}

.menu-itens li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-itens li a:hover{
    text-decoration: dashed;
    color: red;
}

.banner img{
    width: 100%;
    height: 550px;
    margin-top: 40px;
}

main{
    width: 100%;
    padding-top: 2.5rem;
}

main section#about{
    width: 100%;
    height: 400px;
}

main section#about h2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
	text-transform: uppercase;
    padding: 15px 0;
}

main section#about p {
    margin: 1.5rem 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 30px;
}

section#objectives{
    width: 100%;
    background-color: black;
    margin: 2.5rem 0;
    padding: 3rem;
}

section#objectives h2{
    padding: .5rem 0;
    text-align: center;
    color: red;
	text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

section#objectives .cards{
    display: flex;
	margin-top: 1rem;
  
}

section#objectives .cards .card-single{
    margin-right: 30px;
    background-color: white;
    padding: 2rem;

}

section#objectives .cards .card-single h2{
    color: #595959;
	line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}


footer{
    width: 100%;
    padding: 1.5rem;
    bottom: 0;
    background-color: black;
}

footer h4{
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}

.botao{
	width: 100%;
}

.botao i{
	float: right;
	margin-right: 1.5rem;
	padding: 14px;
	background-color: red;
	color:#fff;
	cursor:pointer;
}
