*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

body{
    background-color: #f0f2f5;
}

.container{
    margin: 0 auto;
    padding: 0 2%;
}


header{
	width:100%;
	height:50px;
	background-color: black;
	border-bottom: 1px solid red;
	top: 0;
	position: fixed;
}


.logo{
    display: flex;
	padding: .5rem 1.5rem;
}

.logo h1{
    color:  white;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.logo span{
    color: red;
	font-size:25px;

}

.menu-itens button{
    color: white;
    background-color: red;
    border: 0;
    padding: 4px 8px;
    float: right;
    cursor: pointer;
    margin-top: -30px;
    margin-right: 1.5rem;
}

.menu-itens button:hover{
    background-color: rgb(117, 3, 3);
}



#dashboard{
    width: 100%;
	display:flex;
	align-items:center;
	justify-content:center;
    padding: 2.5rem;
    display: flex;
    margin: 5rem 0;
    align-items: center;
    justify-content: center;
}

#dashboard .dashboard-content{
    width: 100%;
    max-width: 500px;
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}


#dashboard .dashboard-content select{
    padding: .5rem;
	background-color: #282828;
	border: 1px double red;
	color:#fff;
	margin: 0 12px;
    outline: none;
    display: flex;
    
}


